@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --ligthgray: rgb(218, 218, 218);
    --backgroundwhite: rgb(240, 240, 240);
    --niceblue: rgb(76, 0, 255);
    --yellowmellow: rgb(255, 217, 0);
}

body {
    background-color: var(--backgroundwhite);
}

.titles {
    border-radius: 5px;
    padding: 10px;
    background-color: var(--niceblue);
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 600;
}

/*NAVIGATION BAR START*/

.navbar {
    width: 100%;
    height: 15vh;
    background-color: var(--niceblue);
}

header p {
    border-radius: 50%;
    display: inline;
    position: absolute;
    width: 30%;
    top: 15px;
    left: 10px;
    color: beige;
    text-align: center;
}

#check {
    display: none;
}

.checkbars {
    float: right;
    position: relative;
    line-height: 80px;
    font-size: 3.2em;
    margin: 10px 15px 0 0;
    cursor: pointer;
}

#bar {
    color: var(--backgroundwhite);
}

.navicons {
    position: fixed;
    width: 250px;
    right: -100%;
    height: calc(100vh);
    background-color: var(--niceblue);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in;
}

.navicons .navicon {
    margin: 20px;
    padding: 10px;
}

.navicons .navicon a {
    color: black;
    margin-left: 10px;
    letter-spacing: 2px;
}

#check:checked ~ .navicons {
    right: 0;
}


/*NAVIGATION BAR END*/

/*MAIN SECTION START*/

.graysections {
    background-color: var(--ligthgray);
}

section {
    width: 100%;
    height: calc(100vh);
    padding: 25px;
    margin: 15px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*PRESENTATION START*/

#presentation {
    width: 90%;
    height: calc(100vh - 20vh);
    border-radius: 10px;
    margin-bottom: 20px;
    
}

#presentation h2 {
    color: var(--niceblue);
    font-size: 18px;
    font-weight: 300;
    margin: 20px 0;
}

#presentation h1 {
    font-family: 'Notable', sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 4px double var(--niceblue);
}

#presentation p {
    font-weight: 300;
    text-align: justify;
    width: 90%;
}

/*PRESENTATION END*/

/*ABOUT SECTION START*/

#about {
    padding: 20px;
    width: 100%;
    height: 100vh;
    margin: 0;
}

#about img {
    width: 80%;
    height: 70%;
    border-radius: 100%;
    margin-bottom: 20px;
}

#about p {
    font-weight: 300;
    width: 90%;
}

/*ABOUT SECTION END*/

/*QUALITIES SECTION START*/

#qualities {
    padding: 0;
    height: 95vh;
}

#containerq {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.info {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    background-color: var(--ligthgray);
    padding: 10px;
    border-radius: 40px;
}

.qualitybox {
    width: 45%;
    height: 80%;
    background-color: var(--backgroundwhite);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.qualitybox i {
    font-size: 1.8em;
    color: var(--niceblue);
}

/*QUALITIES SECTION END*/

/*PROJECTS SECTION START*/

.projectscard {
    display: grid;
    gap: 0;
    grid-template-columns: 60% 60%;
    width: 95%;
    height: 95%;
    background-color: var(--backgroundwhite);
    border-radius: 10px;
    padding: 20px;
}

.projectcard {
    width: 70%;
    height: 90%;
    border-radius: 10px;
    border: 1px solid black;
}

.projectcard img {
    width: 100%;
    height: 70%;
    border-radius: 10px 10px 0 0;
}

.projectcard a h4 {
    font-weight: 300;
    font-size: 12px;
}



/*PROJECTS SECTION END*/

/*CONTACT SECTION START*/

#socialicons {
    padding: 20px;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--niceblue);
    border-radius: 30px;
}

.fa-brands {
    padding: 10px;
    margin: 10px;
    font-size: 13px;
    color: black;
    background-color: var(--niceblue);
    letter-spacing: 4px;
}


/*CONTACT SECTION END*/

/*MAIN SECTION END*/